<div class="container-fluid mt-5">


    <div class="row">
        <div *ngFor="let article of headerDisplay" class="col-lg-3 mt-3 mb-3">
            <div class="box">
                <img class='article-img' src="{{article.urlToImage}}" width="100%" alt="Article Image">
                <h5 class="mt-2 mb-2">{{article.title}}</h5>
                <div class="box2">
                    <p>{{article.description}}</p>
                </div>
                <a href="{{article.url}}" target="_blank" class="btn btn-dark btn-sm mt-2">Read more!</a>
            </div>
        </div>
    </div>
</div>
